# APP
APP_NAME=ez-php
APP_ENV=local
APP_DEBUG=true
APP_LOCALE=en
APP_FALLBACK_LOCALE=en

# DATABASE
DB_HOST=db
DB_PORT=3307
DB_DATABASE=ez-php
DB_USERNAME=ez-php
DB_PASSWORD=ez-php
DB_TESTING_DATABASE=ez-php_testing
